$primary-color: #34495e; // Blau für Links und Header
$secondary-color: #2ecc71; // Grün für Buttons oder Highlights
$dark-color: #34495e; // Dunkelgrau für den Text
$light-color: #ecf0f1; // Hellgrau für den Hintergrund

// Schriftarten
$base-font: 'Open Sans', sans-serif;
$heading-font: 'Roboto', sans-serif;

// Mixins für wiederverwendbare Stile
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center; 
}
#content {
    position: relative; // Stellt sicher, dass die absolute Positionierung des Buttons relativ zu diesem Container ist
  margin-top: 40px;
  }
  
  .button-container {
    position: absolute;
    right: 20mm; // Setzt den Button 20mm vom rechten Rand entfernt
    top: 20px; // Du kannst diesen Wert anpassen, um den Button vertikal zu positionieren
  }
  
  .button {
    box-shadow: inset 0 1px 0 0 #ffffff;
    background: #629b2d linear-gradient(to bottom, #ca5757 20%, #39a867 100%);
    border-radius: 66px;
    border: 1px solid #070ada;
    cursor: url('/assets/cursor.cur'), auto;
    color: #021c55;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
  }

  // Stile für spezifische Bereiche
#home {
  p {
    font-size: 1.2rem;
  }
}

#blog article {
  background: $light-color;
  padding: 10px;
  border-radius: 5px;
  
  h3 {
    color: $primary-color;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  a {
    display: inline-block;
    background: $primary-color;
    color: $light-color;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    
    &:hover {
      background: $secondary-color;
    }
  }
}

#about, #contact {
  background: darken($light-color, 5%);
  padding: 10px;
  border-radius: 5px;
}
  