<router-outlet></router-outlet>
<main id="content">
    <section id="home">
        <h2>Willkommen auf meinem Travelblog</h2>
        <p>Hier teile ich meine Abenteuer aus der ganzen Welt.</p>
        <div class="button-container">
            <button class="button" routerLink="/food">Zu Nährwerten</button>
        </div>
        <!-- Weitere Inhalte wie Bilder oder Videos hinzufügen -->
    </section>

    <section id="blog">
        <h2>Blogbeiträge</h2>
        <article>
            <h3>Abenteuer in XY-Beispiel</h3>
            <p>Kurze Beschreibung des Abenteuers...</p>
        </article>
        <!-- Weitere Blogbeiträge hinzufügen -->
    </section>

    <section id="about">
        <h2>Über mich</h2>
        <p>Ein kurzer Absatz über dich und deine Leidenschaft fürs Reisen.</p>
    </section>

    <section id="contact">
        <h2>Kontakt</h2>
        <p>So können die Leser mit dir in Verbindung treten.</p>
    </section>
</main>

<!-- dsajdaskjdhakjhdasksajhdkjKC -->
<router-outlet></router-outlet>
<main id="content">
    <section id="home">
        <h2>Willkommen auf meinem Travelblog</h2>
        <p>Hier teile ich meine Abenteuer aus der ganzen Welt.</p>
        <div class="button-container">
            <button class="button" routerLink="/kcal">Kcal</button>
        </div>
        <!-- Weitere Inhalte wie Bilder oder Videos hinzufügen -->
    </section>

    <section id="blog">
        <h2>Blogbeiträge</h2>
        <article>
            <h3>Abenteuer in XY-Beispiel</h3>
            <p>Kurze Beschreibung des Abenteuers...</p>
        </article>
        <!-- Weitere Blogbeiträge hinzufügen -->
    </section>

    <section id="about">
        <h2>Über mich</h2>
        <p>Ein kurzer Absatz über dich und deine Leidenschaft fürs Reisen.</p>
    </section>

    <section id="contact">
        <h2>Kontakt</h2>
        <p>So können die Leser mit dir in Verbindung treten.</p>
    </section>
</main>

<!-- dsajdaskjdhakjhdasksajhdkjKC -->

<router-outlet></router-outlet>
<main id="content">
    <section id="home">
        <h2>Willkommen auf meinem Travelblog</h2>
        <p>Hier teile ich meine Abenteuer aus der ganzen Welt.</p>
        <div class="button-container">
            <button class="button" routerLink="food">Über mich</button>
        </div>
        <!-- Weitere Inhalte wie Bilder oder Videos hinzufügen -->
    </section>

    <section id="blog">
        <h2>Blogbeiträge</h2>
        <article>
            <h3>Abenteuer in XY-Beispiel</h3>
            <p>Kurze Beschreibung des Abenteuers...</p>
        </article>
        <!-- Weitere Blogbeiträge hinzufügen -->
    </section>

    <section id="about">
        <h2>Über mich</h2>
        <p>Ein kurzer Absatz über dich und deine Leidenschaft fürs Reisen.</p>
    </section>

    <section id="contact">
        <h2>Kontakt</h2>
        <p>So können die Leser mit dir in Verbindung treten.</p>
    </section>
</main>

<!-- dsajdaskjdhakjhdasksajhdkjKC -->
